<div class="container footer">
  <div class="row">
    <div class="col-sm-2">
      <h6 class="footer_head">Copy &copy; 2018</h6>
    </div>
    <div class="col-sm-3">
      <h6 class="footer_head">About Me</h6>
      <p class="footer_body">Freelance designer in print media, undergoing webdesign course in NIIT</p>
    </div>
    <div class="col-sm-2">
      <h6 class="footer_head">Navigation</h6>
      <ul class="flist">
        <li><a href="/main">Home</a></li>
        <li><a href="/movies">Movies</a></li>
      </ul>
    </div>
    <div class="col-sm-2">
      <h6 class="footer_head">Follow me on</h6>
      <ul class="flist">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google Plus</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h6 class="footer_head">Coded by H.S. Ganesh Keerthi & helped by Faculty Mahalakshmi</h6>
      <p class="footer_body">References: w3schools.com, getbootstrap.com &amp; other sites</p>
      <img src="assets/images/tmdb primary blue.png">
    </div>
  </div>
</div>
