<div class="container">

  <div class="row">
    <div class="col-sm-7">
      <h2 class="heading">Select your Transaction</h2>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Debit Card</a></li>
        <li><a data-toggle="tab" href="#menu2">Credit Card</a></li>
      </ul>

      <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/images/Canara-Bank-Debit-Card.jpg" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Canara Bank</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/Visa-Debit-Card.jpg" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Union Bank of India</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/Federal.jpg" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Federal Bank of India</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/images/syndicate visadebitcard.jpg" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Syndicate Bank</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/state-bank debit-card.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>State Bank of India</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/bank of baroda.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Bank of Baroda</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/images/PNB debit card.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Punjab National Bank</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/ICICI Coral+ card.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>ICICI Bank Coral+</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/Axis Bank.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Axis Bank</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/images/RuPay_Debit_Card.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>RuPay</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/Central-Bank-Of-India.jpg" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Central Bank of India</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/vijaya bank.jpg" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Vijaya Bank</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/images/billdesk.jpg"><br>
              <small><i>Click on the card to make payment through billdesk</i></small>
            </div>
          </div>
        </div>

        <div id="menu2" class="tab-pane fade">
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/images/Canara-Bank-Credit-Card.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Canara Bank</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/axis-neo.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Axis Bank</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/union bank.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Union Bank</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/images/Federal SBI.jpg" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Federal SBI Card</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/syndicate-bank-credit-card.jpg" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Syndicate Bank</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/bob-platineum_assure.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Bank of Baroda</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/images/pnb-credit-card.dib.bmp" ng-click="onlinepaymentpageCtrl.booking()">
              <p>PNB</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/CBI credit card.jpg" ng-click="onlinepaymentpageCtrl.booking()">
              <p>Central Bank of India</p>
            </div>
            <div class="col-sm-4">
              <img src="assets/images/icici-platinum-chip-card.png" ng-click="onlinepaymentpageCtrl.booking()">
              <p>ICICI Bank</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <img src="assets/images/billdesk.jpg"><br>
              <small><i>Click on the card to make payment through billdesk</i></small>
            </div>
          </div>
        </div>
      </div> <!-- end of tab-content -->
    </div>

    <div class="col-sm-5 payment-col">
      <h3 class="heading">Your selected movie details</h3>
    </div>
    <div class="col-sm-2 details payment-col">
      <p>Movie Name</p>
      <p>Theatre Name</p>
      <p>Class</p>
      <p>Movie Date</p>
      <p>Movie Timing</p>
      <p>Seat Number</p>
      <p>No. of Tickets</p>
      <p>Total Cost</p>
    </div>
    <div class="col-sm-3 details payment-col">
      <p>{{movieName}}</p>
      <p>{{theatre}}</p>
      <p>{{classsel}}</p>
      <p>{{showDate}}</p>
      <p>{{showTime}}</p>
      <p>{{bookingSeats}}</p>
      <p>{{total}}</p>
      <p>{{totAmount}}</p>
    </div>
  </div> <!-- end of row -->

</div> <!-- end of container -->
